<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
        {{ SITE_NAME }}: Jitsi Authentication
      {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
          rel="stylesheet"
          integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e"
          crossorigin="anonymous">
    {% block extra_head %}{% endblock %}
  </head>
  <body class="d-flex flex-column h-100">
    <div class="container-xxl">
      {% block content %}I am a page without a content block{% endblock %}
    </div>
    <footer class="footer bg-light mt-auto py-1">
      <div class="container-xxl">
        <p>
          {{ SITE_NAME }}: An instance of
          <a href="https://salsa.debian.org/debiansocial-team/jitsi-auth">jitsi-auth</a>.
          Please file bugs <a href="https://salsa.debian.org/debiansocial-team/jitsi-auth/-/issues">here</a>.
        </p>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    {% block extra_foot %}{% endblock %}
  </body>
</html>
