{% extends "base.html" %}
{% block content %}
  <h1>{{ SITE_NAME }}</h1>
  <p>This service lets you start new Jitsi rooms.</p>
  {% if "salsa_token" in session and "salsa_userinfo" in session %}
    <p>
      Welcome {{ session["salsa_userinfo"]["name"] }}.
      <a href="/logout" class="btn btn-danger">Logout</a>
    </p>
    <p>
      To have video calls, visit
      <a href="https://{{ JITSI_HOSTNAME }}/">{{ JITSI_HOSTNAME }}</a>
      directly.
    </p>
  {% else %}
    <p>
      To use it, you need to be logged in.
      <a href="/login" class="btn btn-primary">Login</a>
    </p>
  {% endif %}
{% endblock %}
